.App {
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #15171b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-group {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.btn-footer {
  background-color: #6c5ce7;
  font-size: 12pt;
  color: #fff;
  border: inherit;
  width: 100%;
  height: 4rem;
  transition: 0.1s;
}
.btn-footer:nth-last-child(1) {
  background-color: #78e75c;
}
.btn-footer:hover {
  opacity: 0.8;
}

.btn-footer:focus {
  box-shadow: none;
  outline: none;
}
.btn-footer:active {
  opacity: 0.5;
}
.ShortDrink {
  color: #6c5ce7;
}
.LongDrink {
  color: #5ec467;
}
.SansAlcool {
  color: #da4985;
}
.Classique {
  color: gold;
}

.pulse {
  animation: pulse_3957 5s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes pulse_3957 {
  0% { transform: scale(1.1) }
  50% { transform: scale(0.9) }
  100% { transform: scale(1.1) }
}
